@model MindBubbles.Models.ExistingBubbles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExistingBubbles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExistingImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExistingImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExistingInputString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExistingInputString)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BubbleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
